/* AuthForms.css */

/* Container for login and registration */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;

}

/* Wrapper for login and registration content */
.auth-content-wrapper {
  width: 100%;
  text-align: center;
  max-width: 500px;
}

/* Wrapper for login and registration content */
.auth-content-wrapper>form {
  width: 100%;
  text-align: center;
}

/* Heading styles */
.auth-content-wrapper h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Margin for divs */
.auth-content-wrapper div {
  margin-bottom: 20px;
}

/* Label and input styles */
.auth-content-wrapper label,
.auth-content-wrapper input {
  display: block;
  margin: auto;
}

/* Input and select styles */
.auth-content-wrapper form input,
.auth-content-wrapper form select {
  width: 100%;
  max-width: 50vw;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Button styles */
.auth-content-wrapper button {
  width: 100%;
  max-width: 50vw;
  font-size: 18px;
  border-radius: 20px;
  background: #ffbf00;
  color: black;
  cursor: pointer;
  display: block;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {

  /* Wrapper for login and registration content */
  .auth-content-wrapper {
    width: 90%;
    /* Adjust width for smaller screens */
  }

  /* Label and input styles */
  .auth-content-wrapper label,
  .auth-content-wrapper input {
    width: 80%;
    /* Make inputs full-width with p  adding on smaller screens */
  }

  /* Button styles */
  .auth-content-wrapper button {
    width: 100%;
    /* Make button full-width on smaller screens */
  }
}