/* Container for login and registration */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Wrapper for login and registration content */
.auth-content-wrapper {
  width: 100%;
  text-align: center;
}

/* Heading styles */
.auth-content-wrapper h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Margin for divs */
.auth-content-wrapper div {
  margin-bottom: 20px;
}

/* Label and input styles */
.auth-content-wrapper label,
.auth-content-wrapper input {
  display: block;
  margin: auto;
}

/* Label alignment and width */
.auth-content-wrapper label {
  text-align: left;
  width: 85%;
}

/* Input and select styles */
.auth-content-wrapper form input,
.auth-content-wrapper form select {
  width: 95%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Focus styles for input and select */
.auth-content-wrapper form input:focus,
.auth-content-wrapper form select:focus {
  border-color: black;
}

/* Button styles */
.auth-content-wrapper button {
  width: 80%;
  font-size: 18px;
  border-radius: 20px;
  background: rgb(138, 99, 140);
  cursor: pointer;
  padding: 10px;
}