.button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .game-button {
    background-color: #28a745;
    color: #fff;
  }

  /* PopupNote.css */

.popup-wrapper {
display: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {  

  .popup-note > .close-button {
    text-align: end;
  }
  
  .close-button {
    background-color: red;
    border: none;
    cursor: pointer;
  }
  .close-btn {
    background-color: red;
    border: none;
    cursor: pointer;
  }
  .create-note-buttons > button {
    margin: 0;
  }
}