.navbar {
  display: none;
}

@media (max-width: 600px) {
  /* Styling for mobile view */
  /* Default styles */
  .navbar {
    position: fixed;
    left: 0;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--logo-purple);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    bottom: 0;
  }

  .navbar.show {
    transform: translateY(0);
    height: 10vh;
    width: 100%;
  }

  .navbar.hide {
    transform: translateY(15vh);
    height: 10vh;
    width: 100%;
  }

  .list-group {
    display: flex;
    justify-content: space-evenly;
    /* Evenly space the list items */
    align-items: center;
    width: 60%;
    /* Adjust the width of the list group */
    padding: 0;
  }

  .list-group-item {
    flex: 1;
    /* Distribute available space equally among list items */
  }

  .icon {
    height: auto;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-group {
    width: 100%;
    /* Full width for smaller screens */
  }

  .list-group-item {
    width: auto;
    /* Auto width for smaller screens */
  }

  .icon {
    width: 8vw;
    /* Adjust width for smaller screens */
  }
}
