.sidebar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-column: 1;
  background-color: rgb(49, 64, 81);
  color: white;
  width: 200px;
  height: 100vh;
}

.main-content {
  grid-column: 2;
  padding: 20px;
}

.list-group img {
  background-color: white;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 100%;
}

li {
  list-style-type: none;
}

li img:hover {
  background-color: #ffbf00;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.sidebar-user h2 {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
