body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.app {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    grid-column: 1;
    justify-self: center;
    background-color: rgb(49, 64, 81);
    color: white;
    height: 100%;
    width: 250px;
}

.main-content {
    grid-column: 2;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;

}

img {
    background-color: white;
    width: 60%;
    height: 60%;
    padding: 15px;
    border: solid 1px white;
    border-radius: 100%;
}

li {
    list-style-type: none;
}

li img:hover {
    background-color: rgb(175, 75, 75);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media screen and (max-width: 600px) {
    .app {
      grid-template-columns: 1fr;
    }
  
    .sidebar, .main-content {
      width: 100%; 
    }
  }